@import 'styles/keyframes';
@import 'styles/mixin';

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include pc-layout {
    flex-wrap: wrap;
  }
  @include sp-layout {
    flex-direction: column;
  }
}

.effect {
  position: relative;
  @include pc-layout {
    width: 30vw;
    height: 30vw;
  }
  @include sp-layout {
    width: 30vh;
    height: 30vh;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0);
  }
  &::before {
    background-color: #c3ce5f;
    z-index: 1;
  }
  &::after {
    background-color: #fff;
    z-index: 2;
  }

  &:nth-child(1) {
    &::before {
      animation: scale0-1 0.4s ease 0s forwards;
    }
    &::after {
      animation: scale0-1 0.4s ease 0.1s forwards;
    }
  }
  &:nth-child(2) {
    &::before {
      animation: scale0-1 0.4s ease 0.2s forwards;
    }
    &::after {
      animation: scale0-1 0.4s ease 0.3s forwards;
    }
  }
  &:nth-child(3) {
    &::before {
      animation: scale0-1 0.4s ease 0.4s forwards;
    }
    &::after {
      animation: scale0-1 0.4s ease 0.5s forwards;
    }
  }
}
